:root {
    /* colors */
        /* menu texts */
        --passivetext: rgb(209, 171, 75);
        --activetext: rgb(255, 245, 238);
        /* body texts */
        --contenttext: rgb(29, 28, 27);
        --headingtext: rgb(112, 81, 3);
        /* background */
        --backwhite: rgb(245, 237, 230);
        --backblack: rgb(26, 26, 26);
        --backgold: antiquewhite;
        /* button */
        --buttonpassive: rgb(255, 254, 243);
        --buttonhover: rgb(209, 171, 75);
        --buttonactive: rgb(240, 222, 64);

      }

      html {
        scroll-behavior: smooth;
      }


/* Scroll bar region */
      ::-webkit-scrollbar {
        width: 15px;
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
        background: var(--backblack);
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: var(--backgold);
        border-radius: 5px;
        }
    
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: var(--passivetext); 
        }







        a, a:hover, a:focus, a:active {
          text-decoration: none;
          color: inherit;
     }
  
  
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      font-family: 'Microsoft Tai Le';
      list-style: none;
      box-sizing: border-box;
      background: var(--backwhite);
  }
  
     nav {
        position: fixed;
        z-index: 100;
        height: 7vh;
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        padding-right: 10%;
        background-color:  rgba(0, 0, 0, 0.863);
        font-family: 'Instrument Sans', sans-serif;      
    }
  
    .logo {
        color: rgb(203, 182, 154);
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 4px;
    }
  
  nav .nav-links ul {
      display: flex;
      flex-direction: row;
      padding-right: 100% !important;
      /* right: 100%; */
  
  }
  
    nav .nav-links ul li {
        list-style: none;
        font-size: 0.8em;
        color: var(--passivetext);
        margin: auto;
        padding: 10px;
        right: 10%;
        letter-spacing: 4px; 
    }
  
  nav .nav-links ul li :hover {   
      color:var(--activetext);
      transition: 0.5s;     
      cursor: pointer;
      } 
  
  nav .nav-links ul img {
      transform: scale(0.8);
      align-self:auto;
      padding: 10px;
  }
  
  nav .nav-links ul img:hover {
      cursor: pointer;
  }



  
    
    
    .square {
        background-color:var(--backblack);
        width: 100%;
        height: 10%;
        /* margin-top: 10%; */
        /* padding-top: 10%; */
      }

      .slides {
        padding-top: 0% !important;
        padding: 5%;
        color: rgb(43, 144, 226);
        z-index: 1;
        
  }
    
  
    .slides img {
        height: auto;
        width: 100%;
        margin: auto;
        margin-bottom: 1.5%;
        
    }


    .slides iframe {
      display: block;
      width: 100%;             /* matches image width */
      max-width: 100%;         /* ensures no overflow */
      height: auto;
      aspect-ratio: 16 / 9;    /* maintains correct proportions */
      margin: 0 auto 1.5%;     /* centers it and adds bottom spacing */
      border: none;            /* removes default border */
    }


    .sidebar {
        height: 100%;
        width: 0%;
        padding: auto;
        position: fixed;
        z-index: 200;
        top: 20%;
        left: 0;
        color: var(--passivetext);
        background-color:var(--backblack);
        overflow-x: hidden;
        transition: 0.2s;
        padding-top: 60px;
        border-radius: 0 2% 2% 0;
      }

      .sidebar h2{
          padding-left: 10%;
          color:var(--activetext);
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 100%;
        color:var(--sidetext);
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color:var(--activetext);
      }
      
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        
      }
      
 .openbtn {
        position: fixed !important;
        top: 40%;
        z-index: 100;
        height: 20%;
        border-radius: 0 100% 100% 0;
        font-size: 1.5em;
        cursor: pointer;
        background-color:#404d38b0;
        color:var(--backwhite);
        
        overflow: hidden;
        border: none;
        
        
       
        
        
        /* position: fixed; */
      }

      
      .openbtn:hover {
        background-color:var(--buttonhover);
      }
      
      #main {
        transition: margin-left .5s;
        /* padding: 16px; */
      }
      
    
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }

      
      .back{
        /* position: absolute; */
        /* top: 78%; */
    
        
        /* height: 10%; */
        margin: auto;
        margin-bottom: 30px;
        
        width:fit-content;
        border-radius: 16px;
    
        border: solid 2px; 
        background-color: none;
        border-color: var(--backgold);
        align-items: center;   
    
        font-size: 1.5em;
        color: var(--passivetext);
        text-align:center;
        padding: 17px;
      
    }
    
    .back:hover {
        background-color:var(--buttonhover);
        color: var(--activetext);
        cursor: pointer;
        transition: 1s;
    }
    
    .back:active{
        background-color:var(--buttonactive);
        transition: 0.5s;
    }

      footer {
        display: flex; 
        height: fit-content;
        width: 100%;
        flex-direction: column; 
        align-items: center; 
        /* text-align: center;   */
        padding: 1rem;
        background-color: var(--backblack);
        color:var(--backgold);
    }
    .footericon{
        display: flex; 
        align-items: center;
        height: 80px;
        
    }
    
    
    .iconlink {
        width: 90%;
        height: 50%;
        margin-bottom: 30%;
    }
    
    .iconlink:hover {
        border: 1px solid var(--backgold);
    }



      

      